<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node - Create Student</title>
</head>
<body>
    <h1>Enroll new student here</h1>

    <form action="/enrollstudent" method="post">
        <input type="number" name="roll" placeholder="Enter the Roll Number" >
        <input type="text" name="name" placeholder="Enter the Students name" >
        <input type="text" name="course" placeholder="Enter the Students course" >
        <button type="submit">Enroll</button>
    </form>
</body>
</html>