<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node - Homepage</title>
</head>
<body>
    <h1>EJS Homepage</h1>
    
    <% students.forEach(student=>{ %>
        <p>Name: <%- student.name %> </p>
    <% }) %>
</body>
</html>